/* Style for Collection
-------------------------------------------------- */
#gridInner{
	margin-left:0px;
	margin-right:0px;
	position:relative;
	overflow:hidden;
	background-color:#FFFFFF;
}
#title_collection{
	background-color:#999;
	margin-bottom:20px;
	color:#fff;
	padding:5px 10px 5px;
	font-size:18px;
}
#gridInner a{
	color:#666;
}
.itemEach{
	margin-right:20px;
	position:relative;
	float:left;
	text-decoration:none;
	height:360px;
}
.new_sign{
	color: red;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size:12px;
    border: 1px dotted #d9534f;
    border-radius:2px;
}
.imageEach{
	width:208px;
	height:262px;
	text-align:center;
	overflow:hidden;
	
}
.imageEach img{
	width:208px;
	
}
.dataEach{
	position:relative;
	margin-top:10px;
	width:208px;
	text-align: center;
	/*border:1px solid brown;*/
}

.dataName{
	margin-top:5px;
	font-family:Arial;
	color:#666666;
	font-size:12px;
	
}

.dataPrice{
	margin-bottom:10px;
	font-family:Arial;
	color:#666666;
	font-weight:bold;
	font-size:11px;
}

/* Style for Detail
-------------------------------------------------- */
#detail_item{
	height: 100%;
	margin-top:20px;
	margin-left:-15px;	
}
.dataDetail{
	padding-top:30px;
	padding-left:60px;
	max-width:500px;
}
.dataItemDetail{
	border-bottom-style:dotted; 
	border-width:1px;
	margin-bottom:20px;
	padding-bottom:10px;
}
#sosmed_shr{
	float:right;
	margin-top:25px;
}
#sosmed_shr img{
	margin-right:2px;
	height:15px;
}


/* Style fot Other Item
-------------------------------------------------- */
.otrEach{
	float:left;
	text-decoration:none;
	text-align: center;
	width:100%;
	height:100%;
}
.otrImageEach{
	overflow:hidden;
	margin: 0 auto;
}
.otrImageEach img{
	height:100%;
}
.otrdataEach{
	margin-top:10px;
}
.otrdataName{
	margin-top:5px;
	color:#666666;
	font-size:9px;
}
.otrdataPrice{
	margin-bottom:10px;
	color:#666666;
	font-weight:bold;
	font-size:9px;
}
.otr_itm_col .col-md-12{
	height:30%;
}
/* Style for Blog
-------------------------------------------------- */
#blogCnt{
	background-color:#bbb;
	padding-top: 0px;
	padding-right: 10px;
}
.bfkcl{
	margin-bottom: 13px;
}